@font-face {
  font-family: "iconfont"; /* Project id 2020317 */
  src: url('iconfont.woff2?t=1625543035590') format('woff2'),
       url('iconfont.woff?t=1625543035590') format('woff'),
       url('iconfont.ttf?t=1625543035590') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconquanxian:before {
  content: "\e600";
}

.iconbeijian:before {
  content: "\e615";
}

.iconalert:before {
  content: "\e741";
}

.iconyunpan:before {
  content: "\e63b";
}

.iconyun:before {
  content: "\e632";
}

.iconshishifuhe:before {
  content: "\e613";
}

.iconkehu:before {
  content: "\e64c";
}

.iconxitongguanli:before {
  content: "\e60b";
}

.iconziyuan8:before {
  content: "\e614";
}

